.site-header {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  gap: 16px;
  width: max;

  color-scheme: light dark;
  color: var(--color-white);
  background-color: var(--color-gray-1);
  text-transform: uppercase;

  .logoImage {
    height: 32px;
    width: 230px;
  }

  select {
    background-color: var(--color-gray-1);
    color: var(--color-white);
    font-size: 16px;
  }
}
